html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

#app-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
}

#unity-container-size-reference {
    position: absolute;
    width: 100%;
    height: 100%;
}

#unity-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #231F20;
}

#loading-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo {
    margin: 10px;
    text-align: center;
}

#logo img {
    max-width: 80%;
}

#progress-bar-empty {
    width: 80%;
    height: 20px;
    margin: 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}

#progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}

#loading-message {
    color: #909295;
    letter-spacing: 1px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.light #progress-bar-empty {
    border-color: black;
}

.light #progress-bar-full {
    background: black;
}

#spinner {
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid #f9c53e;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
